.summary-tile{
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 7px 5px 5px;
    cursor: default;
    color: var(--primary-text);
}
.icon-bg{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 5px;
}

.amount{
    font-size: 18px;
    font-weight: 700;
    color: var(--primary-text);
    opacity: 0.7;
}

.tile-title{
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-text);
    opacity: 0.6;
}