#loading {
  width: 170px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 10px dotted white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  font-weight: 600;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  /* animation-delay: 300ms; */
}

#loading > p {
  /* animation-delay: 300ms; */
  animation-name: spin;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg) ;
  }
  to {
    transform: rotate(360deg);
  }
}
