#movePopUp {
  background-color: var(--background);
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

#moveItemList {
  margin: 10px 0 10px 20px;
  padding: 0 10px;
  color: var(--primary-text);
  font-size: 30px;
  list-style: none;
  width: 100%;
  border-left: 2px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.radio-label {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  font-size: 18px;
  height: 60px;
  padding: 5px;
  width: 90%;
  cursor: pointer;
}

#moveItemList > div > input {
  display: none;
}

#moveItemList > div > input:checked + label {
  background-color: var(--primary-color);
}

.label-icon {
  height: 40px;
}

#moveFooter {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#moveBtn {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 15px;
  min-width: 0;
}

.move-err {
  width: 100%;
  text-align: center;
  color: red;
}
